@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


* {
    box-sizing: border-box;
    font-family: Nobile;
    color: #444;
}
html, body{
    margin: 0;
    padding: 0;
}




/* classes */
.btn {
    text-align:center;
    text-decoration: none;
    vertical-align: middle;
    padding: .34em;
    cursor: pointer;  
}

.btn-primary {
    background-color: #4e3d83;
    border:none;
    border-radius: .3em;
    color: white!important;
    font-weight: bold;
}
.btn-primary:hover{
    background-color:#593186;
}
.nav ul{
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255,.3);
}
.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.main-nav li{
    padding: 0 5%;
}
.main-header{
    background-image: url('../images/header3.jpeg');
    background-size: cover;
    padding-bottom: 30px;
}

.page-title{
    text-align: center;
    margin:0;
    font-size:2em; 
    font-family: Zeyada;
    font-weight: normal;
    color: white;
}
.page-title-large{
    font-size: 6em;
}
.content-section{
    margin:1em;
}
.container{
    max-width:900px;
    margin:0 auto;
    padding: 0 1.5em;
}
.section-header{
    font-family:Caveat Brush;
    font-size:2.5em;
    font-weight: normal;
    color: #333;
    text-align: center;
}
.about-photo{
    float: left;
    height: 200px;
    margin: 15px;
    border-radius: 50%;
}
.main-footer{
    background-color: #4e3d83;
    color: white;
    padding: .25em 0;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: center;
}
.footer-nav li{
    padding: 0 .5em;
}
.footer-nav img{
    height:30px;
}
.footer-copywright{
    text-align: center;
    margin:0;
    font-size:1.25em; 
    font-family: Zeyada;
    font-weight: normal;
    color: white;
}
.table-btn{
    max-width:14%;
}

.table-date{
    color:#555;
    font-weight: bold;
    width:23%;  
}

.table-event{
    width: 60%;
}

.table-item{
    display: inline-block;
    padding-right: .5em;
}


.table-row{
    border-bottom: 1px solid black;
    margin: 1em;
    padding: 1em;
}
.table-row:last-child{
    border-bottom: none;
}